body {
    background: #fff;
    padding: 0;
    margin: 0;

    font-family:"Segoe UI", Tahoma, sans-serif;
    font-size:12px;
}

nav {
    display: block;
    background: #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #000;

    background-image: url('../images/icon_128.png');
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}


button {
    color:#ffffff;
    border:1px solid #888;

    box-shadow: inset 0px 19px 0px -24px #888;
    background-color: #333333;

    display:inline-block;
    cursor:pointer;

    font-family:"Segoe UI", Tahoma, sans-serif;
    font-size:12px;
    white-space: nowrap;
    vertical-align: middle;

    padding:3px 6px;
    margin: 0 -5px 0 0;

    text-decoration:none;
    text-shadow:0px 1px 0px #1f1f1f;
}

nav button {
    box-shadow: inset 0px 39px 0px -24px #888;
    padding:6px 15px;
}

nav button:first-child {
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}

nav button:last-child {
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;

}

button:hover {
    background-color:#1a1a1a;
}

button:active {
    position:relative;
    top:1px;
}


#stage h1,
#stage h2 {
    margin: 0;
    padding-bottom: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;

}

table th {
    max-width: 100px;

    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    text-align: left;
}

table tbody {
    border: 1px solid #888;
}
table tbody tr:nth-child(even) td {
    background-color: #FFF;
}

table tbody tr:nth-child(odd) td {
    background-color: #EEE;
}

table tbody tr td {
    padding: 3px 4px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

table tbody tr:last-child td {
    border-bottom: none;
}


table tbody tr:hover td {
    background: #CCC;
}

#previewWindow {
    display: none;
    background: #fff;
    position: fixed;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    border: 1px solid #000;
    padding: 10px;
    overflow: auto;
}

#previewWindow code {

}

#previewWindow .closeButton {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
}