body {
    background: #fff;
    width: 400px;
}


#containerList  table tr td {
    vertical-align: top;
}

#containerManuallyCreate form input,
#containerManuallyCreate form select,
#containerManuallyCreate form textarea {
    margin: 0;
    padding: 0;
    border: 1px solid #888;
    margin-bottom: 5px;
}

#containerManuallyCreate form input {
    width: 312px;
    padding: 2px 4px;
    font-size: 14px;
}

#containerManuallyCreate form select {
    width: 322px;
    font-size: 14px;
}

#containerManuallyCreate form textarea {
    width: 312px;
    font-size: 14px;
    padding: 2px 4px;
}

#containerManuallyCreate form table tr td:nth-child(1) {
    vertical-align: top;
}

#containerManuallyCreate form table tr td:nth-child(2) {

}

