#mockList label.recentlyActive {
    color: green;
}

#mockList tr td:nth-child(1),
#mockList tr th:nth-child(1) {
    /* size is very small (1px) - and max 25 - will be extended 25 with ellipsis */
    width: 1px;
    max-width: 25px;
}

#mockList tr td:nth-child(2),
#mockList tr th:nth-child(2) {
    min-width: 100px;
    max-width: 200px;
}

#mockList tr td:nth-child(3),
#mockList tr th:nth-child(3){
    /* take every space you can! */
    max-width: 100%;
}

#mockList tr td:nth-child(4),
#mockList tr th:nth-child(4){
    /* take every space you can! */
    max-width: 100%;
}

#mockList tr td:nth-child(5),
#mockList tr th:nth-child(5){
    /* size is very small (1px) - and max 25 - will be extended 25 with ellipsis */
    width: 1px;
    max-width: 25px;
}

#mockList tr td:nth-child(6),
#mockList tr th:nth-child(6){
    /* take every space you can! */
    max-width: 100%;
}

#mockList tr td:nth-child(5),
#mockList tr th:nth-child(5){
    /* take every space you need */
    width: 1px;
    white-space: nowrap;
}

#containerList  table tr td {
    vertical-align: top;
}

#containerManuallyCreate form input,
#containerManuallyCreate form select,
#containerManuallyCreate form textarea {
    margin: 0;
    padding: 0;
    border: 1px solid #888;
    margin-bottom: 5px;
}

#formManuallyCreate input {
    width: 400px;
    padding: 2px 4px;
    font-size: 14px;
}

#formManuallyCreate select {
    width: 411px;
    font-size: 14px;
}

#formManuallyCreate textarea {
    width: 400px;
    height: 150px;
    font-size: 14px;
    padding: 2px 4px;
}

#formManuallyCreate table tr td:nth-child(1) {
    vertical-align: top;
}

#containerManuallyCreate form table tr td:nth-child(2) {

}

#PaneLog .consoleLog {
}

#PaneLog .consoleLog .logEntry {
    border-bottom: 1px solid #888;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#PaneLog .consoleLog .logEntry {
    background-repeat: no-repeat;
}

#PaneLog .consoleLog .logEntry.warn {
    background-image: url('../img/icon_warning.gif');
}

#PaneLog .consoleLog .logEntry.error {
    background-image: url('../img/icon_error.gif');
}

#PaneLog .consoleLog .logEntry.info {
    background-image: url('../img/icon_info.gif');
}

#PaneLog .consoleLog .logEntry pre {
    margin:0;
    padding:0;
    padding-left: 20px;
}
